<!-- JS begin -->

        <!-- jQuery  -->
        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>

        <!-- MAGNIFIC POPUP -->
        <script src='js/jquery.magnific-popup.min.js'></script>

        <!-- PORTFOLIO SCRIPTS -->
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>

        <!-- COUNTER -->
        <script type="text/javascript" src="js/jquery.countTo.js"></script>

        <!-- APPEAR -->
        <script type="text/javascript" src="js/jquery.appear.js"></script>

        <!-- OWL CAROUSEL -->
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>

        <!-- GOOLE MAP -->
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDzf6Gmc9u7rr2JHijOERAmC_j0gWYtR2c"></script>
        <script type="text/javascript" src="js/gmap3.min.js"></script>

        <!-- FORMS VALIDATION   -->
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/contact-form-validation.min.js"></script>

        <!-- MAIN SCRIPT -->
        <script src="js/main.js"></script>

<!-- JS end -->
